body {
    background-color: lavenderblush;
    color: rgb(48, 47, 47);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    margin: 120px auto;
    max-width: 600px;
}

header {
    margin-bottom: 30px;
}

h1 {
    font-weight: 800;
    font-size: 36px;
    text-align: center;
}

form {
    padding: 25px;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0px 15px 30px rgb(65, 50, 100, 0.5);
    display: flex;
    margin-bottom: 30px;
}

.poem-topic {
    padding: 15px;
    border: 1px solid rgb(48, 47, 47);
    border-radius: 25px;
    font-size: 16px;
    width: 80%;
}

.poem-btn {
    margin-left: 15px;
    padding: 15px 30px;
    border: none;
    border-radius: 125px;
    font-size: 16px;
    background-color: rgb(110, 49, 166);
    color: white;
    width: 20%;
}

.poem {
    padding: 25px;
    font-size: 16px;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0px 15px 30px rgb(65, 50, 100, 0.5);
}

footer {
    text-align: center;
    font-size: 14px;
    margin-top: 30px;
}

footer a {
    color: rgb(110, 49, 166);
}